// @font-face {
//   font-family: 'Cardo';
//   src: url(../font/Cardo-Regular.ttf);
// }
// @font-face {
//   font-family: 'Cairo';
//   src: url(../font/Cairo-Regular.ttf);
// }
@font-face {
	font-family: 'Inter';
  src: url(../font/Inter[slnt,wght].woff2);
  // font-weight: normal;
	// font-weight: 300 900;
	// font-stretch: 25% 151%;
}
// @font-face {
//   font-family: 'Lora';
//   src: url(../font/Lora-Regular.ttf);
// }
// @font-face {
//   font-family: 'Lato';
//   src: url(../font/Lato-Regular.ttf);
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url(../font/Montserrat-Medium.ttf);
// }
// @font-face {
//   font-family: 'Montserrat_light';
//   src: url(../font/Montserrat-Regular.ttf);
// }
// @font-face {
//   font-family: 'OpenSans';
//   src: url(../font/OpenSans-Regular.ttf);
// }
// @font-face {
//   font-family: 'Oswald';
//   src: url(../font/Oswald-Light.ttf);
// }
@font-face {
  font-family: 'Poppins';
  src: url(../font/Poppins-Regular.ttf);
}
// @font-face {
//   font-family: 'PTSans';
//   src: url(../font/PTSans-Regular.ttf);
// }
// @font-face {
//   font-family: 'PTSerif';
//   src: url(../font/PTSerif-Regular.ttf);
// }
@font-face {
  font-family: 'Roboto';
  src: url(../font/Roboto-Regular.ttf);
}
// @font-face {
//   font-family: 'Roboto_light';
//   src: url(../font/Roboto-Light.ttf);
// }
@font-face {
  font-family: 'RobotoFlex';
  src: url(../font/RobotoFlex[slnt,wdth,wght,opsz].woff2) format("woff2 variations"),
       url(../font/Poppins-Regular.ttf) format("truetype");
  // font-weight: 100 1000;
}

// @font-face {
//   font-family: 'Raleway';
//   src: url(../font/Raleway-Regular.ttf);
// }
// @font-face {
//   font-family: 'SourceSansPro';
//   src: url(../font/SourceSansPro-Regular.ttf);
// }
// @font-face {
//   font-family: 'Slabo';
//   src: url(../font/Slabo27px-Regular.ttf);
// }
@font-face {
  font-family: 'SourceSans';
  src: url(../font/SourceSansVariable-Roman.woff2) format("woff2-variations"),
       url(../font/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
}
// @font-face {
// 	font-family: 'Inter';
// 	src: url(../font/SourceSansVariable-Roman.woff2) format('truetype');
// 	font-weight: 300 900;
// 	// font-stretch: 25% 151%;
// }
